<div class="user-list">

    <table mat-table [dataSource]="userList">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Indice </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ getPokemonNumber(i)  }}  
        </td>
      </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element" class="users-list-item" > {{element.name}}
           </td>
        </ng-container>
      
  
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Detalhes </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn_style" [routerLink]="['/pokemon', getIdFromUrl(element.url)]">
              Ver detalhes
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef> Selecionar </th>
          <td mat-cell *matCellDef="let element">
            <button 
            [ngStyle]="{ 'background-color': isPokemonSelected(element) ? '#ef5350' : 'white' }"
            class="btn_style" 
            (click)="PokemonSelection(element)">
            {{ isPokemonSelected(element) ? 'Selecionado' : 'Selecionar' }}
          </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
      [length]="totalCount"
      [pageSize]="limit"
      [pageSizeOptions]="[20, 50, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
    <div *ngIf="selectedPokemons.length === 2">
      <div class="card">
        <div class="card-header">
          <h3>{{ getComparisonResult() }}</h3>
        </div>
        <div class="card-body">
          <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="selectedPokemons[0].sprites.other['official-artwork'].front_default" class="d-block w-100" alt="Imagem do Pokémon 1">
              </div>
              <div class="carousel-item">
                <img [src]="selectedPokemons[1].sprites.other['official-artwork'].front_default" class="d-block w-100" alt="Imagem do Pokémon 2">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
      
</div>