.container-default{
    display: flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
        
}

.container-user {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.main-left-div {
    height: 80%;
  
 
}

